<div class='container' ng-app="root">
	<div ng-controller="index">
    <div class="thin">
        <h1>Search Instagram Photos</h1>
      <span id="hashtag">#</span>
        <input id="search" ng-model="search" type="text" placeholder="Enter a hashtag to search..." autofocus>
      	<input ng-if="search" ng-click="clear()" type="button" class="clearable" value="x">
      	<button ng-click="searchTag()" ng-enter="search" id="submit" value="Submit">Search</button>
    </div>
    
    <div id='instafeed'></div>
  </div>
</div>
<style>
@import "compass/css3";

@import url(https://fonts.googleapis.com/css?family=Source+Sans+pro),
  url(https://markmurray.co/codepen/entypostyle.css);

/* Display: flex Mixin */
@mixin display-flex(){
	display: -webkit-box;      
	display: -moz-box;        
	display: -ms-flexbox;      
	display: -webkit-flex;    
	display: flex;      
}

@mixin flex($flex, $fallback-width:20%){
	-webkit-box-flex: $flex;    
	-moz-box-flex: $flex;       
	width: calc(100% / #{$fallback-width} - 2em);       
	-webkit-flex: $flex;         
	-ms-flex: $flex;           
	flex: $flex;
}

a, a:visited { text-decoration: inherit; color: inherit; display: block; font-family: 'Source Sans Pro', sans-serif; }
*, *:before, *:after { @include box-sizing(border-box);  }

$blue: #3498db;

html, body {
  background: black; 
  font-family: 'Source Sans Pro', sans-serif;
}

.thin {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 2em;
}

h1, button{
  width: 100%;
}

h1 {
   padding-top: 0.5em;
   line-height: 1;
   text-align: center;
   font-size: 2.5em;
   color: white;
   text-transform: uppercase;
   text-shadow: 1px 1px 4px black, 2px 4px 0 rgba(255,255,255,0.5);
}

input[type="text"] {
  padding: 1em 0;
  margin: 0 auto 0.25em auto;
  display: inline-block;
  color: white;
  width: 90%;
  border: none;
  background: transparent;
  font-size: 1.5em;
  outline: none;
  position: relative;
  z-index: 1;
}

#hashtag {
  display: inline-block;
  font-size: 1.5em;
  color: white;
}

button {
  background: transparent;
  border: 2px solid #444;
  color: white;
  outline: none;
  padding: 1em 2em;
  font-size: 1em;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  margin-bottom: 1em;
  cursor: pointer;
  @include transition(all 0.3s ease);
}

button:hover {
  border-color: white;
  background: white;
  color: black;
}

#instafeed {
  margin: 0 0.5em 2em 0.5em;
  //&:hover a:not(:hover){ opacity: 0.4; }
  
  a {
    margin: 0.5em 0.5em;
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: calc(100%/4 - 1em);
  }
  
  #filter {
    background: #1abc9c;
    color: white;
    font-size: 0.7em;
    text-align: center;
    padding: 0.5em 0;
    position: absolute;
    top: 1em; width: 100%; left: -42%;
    @include transform(rotate(-45deg));
  }
  
  .info { 
    background: #222;
    padding: 1.5em;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    
    p { 
      font-size: 0.8em; 
      line-height: 1.45; 
      font-weight: bolder; 
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      margin-bottom: 1em;
      font-weight: lighter;
    }
    
    .location {
      color: #777;
      font-weight: 400;
    }
    
    .user {
      color: #3498db;
    }
    
    [class*="icon-heart"]:before{ color: hotpink }
    [class*="icon-chat"]:before{ color: #3498db; }
    [class*="icon-comment"]:before{ color: #ccc; }
    [class*="icon-location"]:before{ color: #ccc; }
    
    [class*="icon-"]:before{margin-right: 0.5em; vertical-align: middle; }
    ul {
      @include display-flex();
      position: absolute;
      bottom:0;left:0; width: 100%;
      
      li { @include flex(1, 2); font-size: 0.8em; text-align: center;padding: 1em 0;
        border-top: 1px solid #333;
        
        &:hover { background: #555; }
        
        &:first-child{ border-right: 1px solid #333; }
      }
    }
  }
  
  img { 
     display: inline;
     background: url(https://www.markmurray.co/images/black-ajax-loader.gif) no-repeat 50%;
     margin-bottom: -3px;
     width: 100%;
     height: auto;
     max-width: 100%;
     cursor: -webkit-zoom-in;
     cursor: zoom-in;
  }
}

input.clearable {
  color: black;
  font-size: 0.7em;
  border-radius: 100%;
  width: 2em;
  height: 2em;
  background: white;
  border: none; outline: none;
  cursor: pointer;
  opacity: 0.6;

  &:hover {
    opacity: 1;
  }
}

#load-more {
  background: #10d7af;
  color: white;
  width: 100%;
  padding: 2em;
  cursor: pointer;
}

@media screen and (min-width: 1400px){
  #instafeed a { width: calc(100%/5 - 1em) } 
}

@media screen and (max-width: 1200px){
  #instafeed a { width: calc(100%/3 - 1em) } 
}

@media screen and (max-width: 800px){
  #instafeed a { width: calc(100%/2 - 1em) } 
}

@media screen and (max-width: 480px){
  #instafeed a { width: calc(100% - 1em) } 
}
</style>
<script>
/*
angular.module('app', ['ngResource'])
  .factory('APISession', ['$resource', ($resource) ->
    $resource "/session.json"
  ])

  window.TranslationsEditCtrl = ['$scope', 'APITranslation']
window.TranslationsEditCtrl.push (self, APITranslation) ->
  # Controller code here

  module.controller('TranslationEditCtrl', ['$scope', function ($scope) {
*/
var instaSearch = angular.module("root", []);

instaSearch.controller("index", ["$scope", function ($scope) {
  $scope.search;
  
  var tag = $scope.search;
  var loadButton = document.getElementById('load-more');
  
  function loadInstagram(tagName){
    var feed = new Instafeed({
                get: 'tagged',
                tagName: tagName,
                accessToken: '5679701317.8f4c5bf.69b3f2c784fe48df9aa9912635f1ffe0',
 
                target: 'instafeed',
                sortBy: 'most-recent',
                limit: 100,
                resolution: 'standard_resolution',
      template: '<a title="{{caption}}" class="fancybox" rel="group" href="{{image}}"><img src="{{image}}" title="{{caption}}" /><div id="filter">{{model.filter}}</div><div class="info"><p class="location" ng-model="location"><i class="icon-location"></i>{{location}}</p><p class="user"><i class="icon-user"></i>@{{model.user.username}}</p><p><i class="icon-comment"></i>{{caption}}</p><br><ul><li class="icon-heart">{{likes}} likes<li class="icon-chat">{{comments}} comments</ul></div></a>',
      after: function() {
        if (!this.hasNext()) {
          loadButton.setAttribute('disabled', 'disabled');
        }
      }
    }).run();
  };
  
  loadInstagram("vsco");
  
  function clearFeed(){
    document.getElementById('instafeed').innerHTML = "";
  }
  
  // Empty instafeed element and reload with relevant tag
  $scope.searchTag = function(){
    	clearFeed();
    	tag = $scope.search;
    	loadInstagram(tag);
  };
  
  $scope.clear = function(){
    	$scope.search = '';
       document.getElementById('search').focus();
  };
  
  instaSearch.directive('ngEnter', function () {
    return function ($scope, element, attrs) {
        element.bind("keydown keypress", function (event) {
            if(event.which === 13) {
              	$scope.searchTag();
                event.preventDefault();
             }
         });
     };
  });
}]);

 

</script>